*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header .barra-cima{
    width: 100%;
    background-color: rgb(225, 96, 61);
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
}
header .barra-cima img{
    width: 75px;
    padding-left: 10px;
}
header .barra-cima h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding-left: 10px;
    padding-top: 10px;
}
header .barra-menu{
    width: 100%;
    background-color: rgb(215, 215, 215);
    padding-top: 20px;
    padding-bottom: 20px;
}
header .barra-menu ul{
    display:flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
header .barra-menu ul li{
    color: rgb(225, 96, 61);
    font-size: 20px;
    padding-right: 20px;
}
.body{
    display: flex;
    flex-direction: row;
}
.body .enchimento-left{
    width: 15%;
}
.body .conteudo-principal{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.body .enchimento-direita{
    width: 15%;
}
section .lista-camisa img{
    width: 100px;
    opacity: 0.5;
}
section .lista-camisa ul{
    list-style: none;
}
section .camisa-grande img{
    width: 525px;
}
section .info-produto h1{
    font-size: 35px;
}
section .info-produto h2{
    font-size: 30px;
    color: rgb(225, 96, 61);
    padding-top: 10px;
}
section .info-produto p{
    padding-top: 10px;
    font-weight: bold;
}
.conteudo-principal section{
    padding-top: 20px;
}
section .info-produto .caract-cor ul{
    display:flex;
    list-style: none;
    width: 200px;
    justify-content: start;
}
section .info-produto .caract-cor ul li{
    padding-right: 20px;
}
section .info-produto .caract-cor ul li button{
    font-size: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
section .info-produto .caract-tamanho ul{
    display:flex;
    list-style: none;
}
section .info-produto .caract-tamanho ul li{
    padding-right: 20px;
}
section .info-produto .caract-tamanho ul li button{
    font-size: 15px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
section .info-produto .botao button{
    font-size: 15px;
    padding: 20px;
    background-color: rgb(225, 96, 61);
    color: rgb(255, 255, 255);
    border:none;
}

